// Base Class Definition
// -------------------------

.@{entypo-css-prefix} {
  display: inline-block;
  font-family: Entypo;
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
