{# src/Mesd/PresentationBundle/Resources/views/breadcrumb.html.twig #}

{% for k,v in routes %}
    {% if not loop.last %}
        <a href="{{ v }}">{{ k|raw }}</a> {{ separator|raw }}
    {% else %}
        {{ k|raw }}
    {% endif %}
{% endfor %}
