{% extends 'MESDPresentationPresentationBundle::index.html.twig' %}

{% block sidebar %}
    {{ render(controller('MESDPresentationPresentationBundle:Dev:sidebar',
        { 'options': { 'type': '' },
          'menu': {
            'Item One': {
                'path': '#one',
                'title': 'one',
                'icon': 'icon-desktop'
            },
            'Item Two': {
                'path': '#two',
                'title': 'two',
                'icon': 'icon-mobile-phone'
            },
            'Item Three': {
                'path': '#three',
                'title': 'three',
                'icon': 'icon-font'
            }
        }
    })) }}
{% endblock sidebar %}

{% block main %}

    <h1>Your application goes here</h1>

{% endblock main %}