{% extends 'MESDPresentationPresentationBundle::base.html.twig' %}
    {% block navbarContent %}
    {% block appLogo %}
        <a class="brand" href="#">
            <img src="{{ asset('bundles/mesdpresentationpresentation/img/orchestra_logo_sml.png') }}" alt="Orchestra"/>
        </a>
        {% endblock appLogo %}
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".main-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse main-collapse">
        {% block navLinks %}
            {% include 'MESDPresentationPresentationBundle::navLinks.html.twig' %}
        {% endblock navLinks %}
            <span class="pull-right">
            {% block searchBar %}
                {% include 'MESDPresentationPresentationBundle::searchBar.html.twig' %}
            {% endblock searchBar %}
            {% block userMenu %}
                    {% include 'MESDPresentationPresentationBundle::userMenu.html.twig' %}
            {% endblock userMenu %}
            </span>
        </div><!-- END nav-collapse -->
    {% endblock navbarContent %}
    {% block container %}
        {% block sidebar %}
            {{ render(controller('MESDPresentationPresentationBundle:Default:sidebar', { 'menu': ''})) }}
        {% endblock sidebar %}

        <section id="content" class="content container-fluid">
            {% block content %}

                <div id="toolbar-top" class="panel panel-white">
                    {% block breadcrumb %}
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="divider">&rarr;</li>
                            <li class="active">Here</li>
                        </ul>
                    {% endblock breadcrumb %}
                </div>

                {% block subtitle %}
                    {% if subtitle is defined %}
                        <h2>{{ subtitle }}</h2>
                    {% elseif pagetitle is defined %}
                        <h2>{{ pagetitle }}</h2>
                    {% endif %}
                {% endblock subtitle %}

                <div id="main" class="panel panel-white">
                    {% block main %}
                    {% endblock main %}
                </div><!-- END main -->

                <div id="pagination">
                    {% block pagination %}
                    {% endblock pagination %}
                </div><!-- END pagination -->

            {% endblock content %}
        </section><!-- END content -->

    {% endblock container %}