{% extends 'MesdPresentationBundle::base.html.twig' %}

{% set pageTitle = 'User Profile' %}

{% block sidebar %}
    {{ render(controller('MesdPresentationBundle:Default:sidebar',
        {
            'route': app.request.get('_route'),
            'options': { 'type': '' },
            'menu': {
                'Item One': {
                    'path': '#one',
                    'title': 'one',
                    'icon': 'icon-desktop'
                },
                'Item Two': {
                    'path': '#two',
                    'title': 'two',
                    'icon': 'icon-mobile-phone'
                },
                'Item Three': {
                    'path': '#three',
                    'title': 'three',
                    'icon': 'icon-font'
                }
            }
    })) }}
{% endblock sidebar %}

{% block contentBody %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
        <li><a href="#"><span class="fa fa-user"></span> Settings</a></li>
        <li><a href="#"><span class="fa fa-user"></span> Security</a></li>
    </ul>

    <div class="row">
        <div class="col-md-1-3">
            <div class="row">
                <div class="col-md-1-2 col-md-offset-1-4">
                    <img src="{{ 'curtisghanson@gmail.com'|gravatar(240) }}" alt="curtisghanson" class="img-responsive img-thumbnail">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1-2 col-md-offset-1-4">
                    <p class="text-center"><strong>curtisghanson</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-2-3">
            <h2>Basic Information</h2>
            <dl class="dl-horizontal">
                <dt>Username</dt>
                <dd>curtisghanson</dd>
                <dt>Name</dt>
                <dd>Curtis G Hanson</dd>
                <dt>Gender</dt>
                <dd>Male</dd>
                <dt>Last Login</dt>
                <dd>2 hours ago</dd>
            </dl>
        </div>
    </div>

{% endblock contentBody %}
