{% block sidebarshim %}
<div class="toggle-bar toggle-bar-open">
    <div class="toggle-bar-strip toggle-bar-strip-back"></div>
    <div class="toggle-bar-handle toggle-bar-handle-open">
        <i class="icon-chevron-left white"></i>
    </div><!-- END toggle-bar-handle -->
    <div class="toggle-bar-strip toggle-bar-strip-front"></div>
</div><!-- END toggle-bar -->
{% endblock sidebarshim %}