{% extends 'MesdPresentationBundle::index.html.twig' %}

{% block containerOuter %}
    <div class="section section-splash section-splash-medium">
        <div class="section-header">
            {% block subtitle %}
                {% if subtitle is defined %}
                    <h1 class="page-title">{{ subtitle }}</h1>
                {% elseif pageTitle is defined %}
                    <h1 class="page-title">{{ pageTitle }}</h1>
                {% else %}
                    <h1>MESD Application</h1>
                {% endif %}
            {% endblock subtitle %}
        </div>
        <div class="section-body">
            {% block flashMessage %}
                {% include 'MesdPresentationBundle:Block:flashMessage.html.twig' %}
            {% endblock flashMessage %}
            {% block sectionBody %}
                <p>MESD Application</p>
            {% endblock sectionBody %}
        </div>
        <div class="section-footer">
            {% block sectionFooter %}
                <p>MESD Application Footer</p>
            {% endblock sectionFooter %}
        </div>
    </div>
{% endblock containerOuter %}
