{% extends 'MesdPresentationBundle::index.html.twig' %}

{% block container %}

    <div class="panel panel-splash panel-splash-medium">
        <div class="panel-header">
            {% block subtitle %}
                {% if subtitle is defined %}
                    <h1>{{ subtitle }}</h1>
                {% elseif pagetitle is defined %}
                    <h1>{{ pagetitle }}</h1>
                {% else %}
                    <h1>Some Title Here</h1>
                {% endif %}
            {% endblock subtitle %}
        </div>
        <div class="panel-body">
            {% block panelBody %}
                <p>i'm stuff and i go here</p>
            {% endblock panelBody %}
        </div>
        <div class="panel-footer">
            {% block panelFooter %}
                <p>i'm more stuff and i go here</p>
            {% endblock panelFooter %}
        </div>
    </div>

{% endblock container %}