<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">UserName<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-user"></i> Profile <span class="muted pull-right">Ctrl+R</span></a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings <span class="muted pull-right">Ctrl+X</span></a></li>
            <li><a href="#"><i class="icon-lock"></i> Logout <span class="muted pull-right">Ctrl+Q</span></a></li>
        </ul>
    </li>
</ul>