//
// sections
// --------------------------------------------------


.section {
    border-radius:    4px;
    margin-bottom:   10px;
    overflow:      hidden;
    .box-sizing(border-box);
        ul.breadcrumb {
        margin:        0;
        list-style: none;
        > li {
            display:     inline-block;
            text-shadow: 0 1px 0 #fff;
            > .divider {
                padding: 0 5px;
                color:    #ccc;
            }
        }
        > .active {
            color: @gray-light;
        }
    }
    &.section-white {
        background-color:                    #fff;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
    }
    &.section-splash {
        position:               absolute;
        top:                        80px;
        left:                        50%;
        background-color:           #fff;
        border:           1px solid #999;
        border: 1px solid rgba(0,0,0,.3);
        *border: 1px solid #999; /* IE6-7 */
        border-radius:               6px;
        .box-shadow(0 3px 7px rgba(0,0,0,0.3));
        background-clip:     padding-box;
        &.section-splash-small {
            width:        360px;
            margin-left: -180px;
        }
        &.section-splash-medium {
            width: 480px;
            margin-left: -240px;
            .section-header,
            .section-body,
            .section-footer {
                padding: 20px;
            }
        }
        &.section-splash-large {
            width: 640px;
            margin-left: -320px;
            .section-header,
            .section-body,
            .section-footer {
                padding: 20px;
            }
        }
        .section-body .form-group:last-child,
        .section-footer .form-group:last-child {
            margin-bottom: 0px;
        }
    }
    .section-header {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        *border: 1px solid #ccc; /* IE6-7 */
        h1 {
            border-bottom: none;
        }
    }
    .section-body {
        padding: 10px;
    }
    .section-footer {
        padding:                   10px;
        margin-bottom:                0;
        text-align:               right; // right align buttons
        background-color:       #f5f5f5;
        border-top:      1px solid #ddd;
        border-radius:      0 0 6px 6px;
        .box-shadow(inset 0 1px 0 #fff);
        .clearfix(); // clear it in case folks use .pull-* classes on buttons
    }
}

@media (max-width: 979px) {
    .section {
        &.section-splash,
        &.section-splash.section-splash-small,
        &.section-splash.section-splash-medium,
        &.section-splash.section-splash-large {
            position: relative;
            left: 0;

            // splash glitch
            // quick hack, DL, Aug 5 2014
            // needs some attention from CH
            //
            // top: 0px;

            top: 40px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 767px) {
    .section {
        &.section-splash,
        &.section-splash.section-splash-small,
        &.section-splash.section-splash-medium,
        &.section-splash.section-splash-large {
            width: 100%;
        }
    }
}