//
// Sidebar
// --------------------------------------------------
// This file is MESD specific styling.
// It is not maintained by Bootstrap.

aside#sidebar {
    position:                   fixed;
    display:                    block;
    width:        @sidebar-base-width;
    height:                      100%;
    min-height:                  100%;
    top:                            0;
    left:                           0;
    background-color:   @gray-lighter;
    padding-top:                 40px;
    z-index:                        1;
    transition:        250ms cubic-bezier(0.1,.57,.1,1);
    -webkit-transform: translate(0px,0) translateZ(0px);
    .box-shadow(1px 1px 4px 0 rgba(0, 0, 0, 0.1));
    nav {
        overflow-y:     auto;
        overflow-x:   hidden;
        height:         100%;
        padding-bottom:  5px;
        ul.nav {
            position:                relative;
            overflow-x:                hidden;
            overflow-y:                scroll;
            width: @sidebar-base-width + 60px;
            padding:                        0;
            margin:                         0;
            height:                      100%;
            li {
                overflow: hidden;
                a {
                    line-height:              normal;
                    display:                   block;
                    font-weight:              normal;
                    text-decoration: none !important;
                    > .sidebar-item-icon + .sidebar-item-label {
                        padding-left:            0px;
                    }
                    > .sidebar-item-label {
                        padding-left:           20px;
                    }
                    > span.collapse-sign {
                        position:           absolute;
                        top:                    14px;
                        right:                  60px;
                    }
                }
                &.active a {
                //&:not(.open).current_ancestor a {
                    color:                   #ffffff;
                    background-color:        #428bca;
                    position:               relative;
                    &:hover {
                        color:               #ffffff;
                        background-color:    #2a6496;
                    }
                }
            }
            ul {
                display: none;
            }
        }
        .nav > li:last-child > a,
        .navbar > li:last-child > a,
        .navbar .nav-collapse > li:last-child > a,
        .navbar .nav-collapse .nav > li:last-child > a {
            border-bottom: none;
        }
        .navbar,
        .navbar .nav-collapse,
        .navbar .nav-collapse .nav,
        .nav,
        ul {
            margin-bottom: 0;
            > li {
                > a {
                    line-height:                            30px;
                    border-bottom:                1px solid #ccc;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    padding:                               3px 0;
                    &:hover {
                        background-color:                #ffffff;
                        box-shadow:         inset 0 2px 2px rgba(0, 0, 0, 0.1);
                    }
                    > .sidebar-item-icon {
                        font-size:     20px;
                        line-height:   26px;
                        width:         60px;
                        text-align:  center;
                    }
                }
                &:last-child {
                    border-bottom:                1px solid #ccc;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}

.minified #sidebar-toggle {
    color:     #A8A8A8;
    position: relative;
    width:        60px;
    right:           0;
    border-radius: 0px;
    margin:          0;
    height:       34px;
    line-height:  34px;
    font-size:    20px;
    .fa:before {
        content: "\f0a9";
    }
}

.minified #container-inner {
    margin-left: 60px;
}

.minified aside#sidebar {
    width:       60px;
    overflow: visible;
    nav {
        overflow: visible;
        > ul.nav {
            positiion: relative;
            overflow:   visible;
            width:         60px;
            padding:          0;
            li,
            li.current_ancestor {
                width:                     100%;
                background-color: @gray-lighter;
                height:                    33px;
                &:hover {
                    width:             240px;
                    background-color: ffffff;
                    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
                    .sidebar-item-label {
                        position: absolute;
                        top:             0;
                        left:         60px;
                        width:       180px;
                        height:       36px;
                        line-height:  38px;
                    }
                }
                > a {
                    padding-bottom: 4px;
                    height:        33px;
                }
            }
            ul {
                min-height:    30px !important;
                max-height:   180px !important;
                overflow-y:             scroll;
                overflow-x:             hidden;
                position:             absolute;
                width:                   180px;
                padding:                     0;
                overflow:               hidden;
                z-index:                    10;
                left:                     60px;
                top:                      36px;
                height:                   auto;
                border-left: 1px solid rgba(0,0,0,0.05);
            }
            > li {
                overflow: visible;
                a {
                    margin: 0;
                    .sidebar-item-icon {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .collapse-sign {
        position: absolute;
        left:    -999999px;
    }
    .open a {
        background-color: none;
    }
}

.minified {
    aside {
        nav {
            ul {
                > li {
                    > a {
                        padding: 10px 11px;
                        display:     block;
                        .fa.fa-fw {
                            display:     block;
                            width:        auto;
                            text-align: center;
                            padding:         0;
                        }
                        > span {
                            margin:         0;
                            display:    block;
                        }
                    }
                }
                ul li a {
                    padding-left: 14px;
                    ul li a {
                        padding-left: 25px;
                        ul li a {
                            padding-left: 45px;
                            ul li a {
                                padding-left: 62px;
                                ul li a {
                                    padding-left: 82px;
                                }
                            }
                        }
                    }
                }
            }
            > ul {
                > li {
                    a {
                        position: relative;
                        .sidebar-item-label,
                        b {
                            display:                                                                         none;
                            -webkit-box-shadow: 2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                            -moz-box-shadow:    2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                            box-shadow:         2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                        }
                    }
                    > ul {
                        display: none !important;
                        position:       absolute;
                        left:               60px;
                        width:       60px - 20px;
                        z-index:               5;
                        min-height:        180px;
                        -webkit-box-shadow: 1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                        -moz-box-shadow:    1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                        box-shadow:         1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
                        background:      #3A3633;
                        > li > ul {
                            position: relative;
                            left:         13px;
                            border:       none;
                            width:        auto;
                            margin-left: -12px;
                            width: 60px - 23px;
                        }
                    }
                    &:hover > a > .sidebar-item-label,
                    &:hover > ul {
                        display: block !important;
                    }
                    > ul {
                        &::before {
                            border-left: none;
                        }
                        > li {
                            > a {
                                padding-top:    7px;
                                padding-bottom: 7px;
                            }
                            > ul > li {
                                background-color: #484B50;
                                a {
                                    padding-top:    6px;
                                    padding-bottom: 6px;
                                }
                            }
                        }
                    }
                }
                ul li::before {
                    border: none;
                }
            }
        }
    }
}

ul.nav ul.nav {
    background-color:     #dddddd;
}

aside nav {
    ul.nav {
        li ul li a span:first-child {
            margin-left:        20px;
        }
        /*
        span.sidebar-item-label {
            display: inline-block;
            margin:             0;
            padding:            0;
            line-height:     26px;
        }
        */
    }
    > ul.nav > li {
        &:last-child.open {
            border-bottom:1px solid rgba(255,255,255,0.15);
        }
        > ul.nav > li {
            > a {
                padding-top:    7px;
                padding-bottom: 7px;
            }
            > ul.nav > li > a {
                padding-top:    7px;
                padding-bottom: 7px;
            }
        }
    }
}

.minified .inbox-badge {
    border-radius:  50%;
    font-size:      9px;
    padding:        2px;
    position:  absolute;
    top:            6px;
    right:          6px;
    background: #ED1C24;
    min-width:     13px;
}

#sidebar-toggle {
    border-bottom: 1px solid #302F2F;
    background:              #454545;
    color:                   #A8A8A8;
    text-align:               center;
    padding:                       0;
    width:                      36px;
    height:                     28px;
    line-height:                30px;
    display:                   block;
    position:               absolute;
    right:                      48px;
    border-radius:   5px 0px 0px 5px;
    cursor:                  pointer;
    margin-top:                  5px;
    font-size:                  20px;
    transition:   all 0.1s linear 0s;
    &:hover {
        background: #646464;
        color:      #E4E4E4;
    }
}

/* mobile */
@media (max-width: @screen-xs-max) {
}

/* tablet */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}

/* tablet and below */
@media (max-width: @screen-sm-max) {
    #container-inner {
        margin-left: 60px;
    }
    aside#sidebar {
        width:       60px;
        overflow: visible;
        nav {
            overflow: visible;
            > ul.nav {
                positiion: relative;
                overflow:   visible;
                width:         60px;
                padding:          0;
                li,
                li.current_ancestor {
                    width:                     100%;
                    background-color: @gray-lighter;
                    height:                    36px;
                    &:hover {
                        width:             240px;
                        background-color: ffffff;
                        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
                        .sidebar-item-label {
                            display:      none;
                            position: absolute;
                            top:             0;
                            left:         60px;
                            width:       180px;
                            height:       36px;
                            line-height:  38px;
                        }
                    }
                    > a {
                        padding-bottom: 4px;
                        height:        36px;
                    }
                }
                ul {
                    min-height:    30px !important;
                    max-height:   180px !important;
                    overflow-y:             scroll;
                    overflow-x:             hidden;
                    position:             absolute;
                    width:                   180px;
                    padding:                     0;
                    overflow:               hidden;
                    z-index:                    10;
                    left:                     60px;
                    top:                      36px;
                    height:                   auto;
                    border-left: 1px solid rgba(0,0,0,0.05);
                }
                > li {
                    overflow: visible;
                    a {
                        margin: 0;
                        .sidebar-item-icon {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .collapse-sign {
            position: absolute;
            left:    -999999px;
        }
        .open a {
            background-color: none;
        }
    }
    #sidebar-toggle {
        color:     #A8A8A8;
        position: relative;
        width:        60px;
        right:           0;
        border-radius: 0px;
        margin:          0;
        height:       34px;
        line-height:  34px;
        font-size:    20px;
        .fa:before {
            content:"\f0a9";
        }
    }
    aside nav > ul > li,
    aside nav > ul > li a {
        position: relative;
    }
    aside nav ul > li {
        > a {
            padding: 10px 11px;
            display:     block;
            .fa.fa-fw {
                display:     block;
                width:        auto;
                text-align: center;
                padding:         0;
            }
            > span {
                margin:         0;
                display:    block;
            }
        }
    }
    aside nav ul {
        ul li a {
            padding-left: 14px;
            ul li a {
                padding-left: 25px;
                ul li a {
                    padding-left: 45px;
                    ul li a {
                        padding-left: 62px;
                        ul li a {
                            padding-left: 82px;
                        }
                    }
                }
            }
        }
    }
    aside nav > ul > li > a .sidebar-item-label,
    aside nav > ul > li > a > b {
        display: none;
    }
    aside nav > ul > li > a > .sidebar-item-label {
        -webkit-box-shadow: 2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
        -moz-box-shadow:    2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
        box-shadow:         2px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
    }
    aside nav > ul > li > ul {
        display: none !important;
        position:       absolute;
        left:               60px;
        width:       60px - 20px;
        z-index:               5;
        min-height:        180px;
        -webkit-box-shadow: 1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
        -moz-box-shadow:    1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
        box-shadow:         1px 1px 2px 0 rgba(red(@black), green(@black), blue(@black), 0.2);
        background:      #3A3633;
        > li > ul {
            position: relative;
            left:         13px;
            border:       none;
            width:        auto;
            margin-left: -12px;
            width: 60px - 23px;
        }
    }
    aside nav > ul > li:hover > a > .sidebar-item-label,
    aside nav > ul > li:hover > ul {
        display: block !important;
    }
    aside nav > ul > li > ul {
        &::before {
            border-left: none;
        }
        > li > ul > li {
            background-color: #484B50;
        }
    }
    aside nav > ul ul li::before {
        border: none;
    }
    aside nav > ul > li > ul > li {
        > a,
        > ul > li > a {
            padding-top:    7px;
            padding-bottom: 7px;
        }
    }
    aside nav > ul > li > ul > li > ul > li a {
        padding-top:    6px;
        padding-bottom: 6px;
    }
}

/* lo res monitor */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}

/* desktop monitor */
@media (min-width: @screen-lg-min) {
}

@media (min-width: @screen-md-min) {
}

/* Active buttons are overriding the aside nav */
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
    z-index: 0 !important;
}