//
// Sidebar
// --------------------------------------------------
// This file is MESD specific styling.
// It is not maintained by Bootstrap.

.sidebar {
    position:                   fixed;
    width:   @sidebar-base-open-width;
    height:                      100%;
    top:                          0px;
    background-color:   @gray-lighter;
    margin-top:                  40px;
    transition:        250ms cubic-bezier(0.1,.57,.1,1);
    -webkit-transform: translate(0px,0) translateZ(0px);
    .box-shadow(1px 1px 4px 0 rgba(0, 0, 0, 0.1));
    // or padding-top: 40px; not sure yet
    nav {
        overflow-y:     auto;
        height:         100%;
        padding-bottom: 45px;
        ul.nav {
            position:   relative;
            overflow-x:   hidden;
            overflow-y:   scroll;
            height:         100%;
            width:          115%;
            padding-right:  25px;
            li {
                &.active a {
                    color:            #ffffff;
                    background-color: #428bca;
                    &:hover {
                        color:            #ffffff;
                        background-color: #2a6496;
                    }
                }
            }
            ul {
                display: none;
                &:before {
                    content:                       "";
                    display:                    block;
                    position:                absolute;
                    z-index:                        1;
                    left:                        23px;
                    top:                            0;
                    bottom:                         0;
                    border-left:    1px solid #7A7A7A;
                }
                li:before {
                    content:                       "";
                    display:                    block;
                    position:                absolute;
                    width:                        8px;
                    left:                        23px;
                    top:                         16px;
                    border-top:     1px solid #7A7A7A;
                    z-index:                        1;
                }
                ul:before {
                    content:                       "";
                    display:                    block;
                    position:                absolute;
                    width:                       18px;
                    left:                        10px;
                    top:                         17px;
                    border-top: 1px solid transparent;
                }
            }
        }
        .nav > li:last-child > a,
        .navbar > li:last-child > a,
        .navbar .nav-collapse > li:last-child > a,
        .navbar .nav-collapse .nav > li:last-child > a {
            border-bottom: none;
        }
        .navbar,
        .navbar .nav-collapse,
        .navbar .nav-collapse .nav,
        .nav,
        ul {
            margin-bottom: 0;
            > li {
                > a {
                    line-height:                            30px;
                    border-bottom:                1px solid #ccc;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    padding:                             5px 0 0;
                    &:hover {
                        background-color:                  White;
                        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow:    inset 0 2px 2px rgba(0, 0, 0, 0.1);
                        box-shadow:         inset 0 2px 2px rgba(0, 0, 0, 0.1);
                    }
                    > [class^="icon"],
                      [class*=" icon"] {
                        font-size:     20px;
                        line-height:    4px;
                        width:         40px;
                        padding-left:   5px;
                        text-align:  center;
                    }
                    > .pull-right {
                        padding-right: 10px;
                    }
                }
                &:last-child {
                    border-bottom:                1px solid #ccc;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
    .hideable {
        display:           none;
    }
}


.drag-bar {
    position:           fixed;
    left:                60px;
    top:                 40px;
    bottom:              20px;
    width:                3px;
    padding-bottom:       1px;
    cursor:              auto;
    background-color: #dddddd;
    box-shadow: 2px 0px 4px 1px rgba(151, 151, 151, .1);
    -webkit-transition: background-color .3s ease-in, box-shadow .3s ease-in;
       -moz-transition: background-color .3s ease-in, box-shadow .3s ease-in;
         -o-transition: background-color .3s ease-in, box-shadow .3s ease-in;
            transition: background-color .3s ease-in, box-shadow .3s ease-in;
    &:hover,
    &:active,
    &:focus {
        cursor:        col-resize;
        background-color: #bbddff;
        -webkit-box-shadow: 0 0 12px 2px rgba(187,221,255,0.5);
        -moz-box-shadow:    0 0 12px 2px rgba(187,221,255,0.5);
        box-shadow:         0 0 12px 2px rgba(187,221,255,0.5);
    }
    .drag-bar-handle {
        position:        absolute;
        top:                  50%;
        height:              21px;
        width:                9px;
        background-color: #bbddff;
        left:                -3px;
        border-radius:        3px;
        .dot:after {
            content:          "·";
            color:        #ffffff;
            font-weight:      900;
            text-align:    center;
            line-height:     10px;
            height:           5px;
            display:        block;
        }
    }
}

/* mobile */
@media (max-width: @screen-xs-max) {
}

/* tablet */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}

/* tablet and below */
@media (max-width: @screen-sm-max) {
    .sidebar[style] {
        width: 60px !important;
    }
    .drag-bar[style] {
        display: none !important;
    }
    .sidebar[style] .hideable {
        display: none !important;
    }
}

/* lo res monitor */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .drag-bar {
        left: 60px;
    }
}

/* desktop monitor */
@media (min-width: @screen-lg-min) {
    .drag-bar {
        left: 240px;
    }
}

// Handled via session variables now
//.sidebar[max-width="239px"] .hideable {
//    display: none;
//}

@media (min-width: @screen-md-min) {
    // Left aside, individually scrollable
    .sidebar {
        width:    @sidebar-base-width;
        .hide {
            display:           none;
        }
        .hideable {
            display:           block;
        }
        .sidebar-min {
            width: @sidebar-base-closed-width;
        }
    }
}

.sidebar {
    .sidebar-dropdown {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        a span {
            display:     inline;
            margin-left:    8px;
        }
        .navbar .btn {
            margin: 10px;
        }
    }
    .sidebar-inline {
        ul {
            margin-bottom: 0;
            margin-left:   0;
            display:   table;
            width:      100%;
            li {
                padding:             0;
                box-sizing: border-box;
                display:    table-cell;
                text-align:     center;
                > a {
                    padding:           5px;
                    line-height:      40px;
                    box-sizing: border-box;
                    &:hover {
                        box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
                    }
                    &:last-child > a {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    }
                }
                + li {
                    border-left: 1px solid rgba(0,0,0,0.1);
                }
            }
        }
    }
}

.sidebar-inline,
.sidebar-dropdown {
    position:    static;
    width:         100%;
    padding:          0;
    height:        auto;
    .toggle-bar {
        display: none;
    }
}