section.section-wiki {

    ::-moz-selection,
    ::-webkit-selection,
    ::selection {
        text-shadow:   none;
        background: #2980b9;
        color:      #ffffff;
    }

    p, h1, h2, h3, h4, h5, h6 {
        font-family: 'lato', 'Helvetica-Neue', 'Helvetica', 'Arial Black', sans-serif;
    }

    code, kbd, pre, samp, tt, var {
        font-family: 'source-code-pro', 'Lucida Console', 'Monano', 'Courier New', 'Courier', monospace;
    }

    h1, h2, h3 {
        font-weight: 900;
    }

    h4, h5, h6 {
        font-weight: 700;
    }

    .permalink a {
        display: none;
        //visibility: hidden;
        font-size: 65%;
    }
    .permalink:hover a {
        display: inline-block;
    }
    p {
        font-size:     16px;
        line-height:   21px;
        margin-bottom: 10px;
        text-align: justify;
    }
    a {
        color:           #2980b9;
        text-decoration:    none;
        &.reference {
            color: #333333;
            .reference-underline {
                font-style: italic;
                color:     #2980b9;

            }
        }
        &:hover .reference-underline {
            text-decoration: underline;
        }
    }

    kbd {
        display:                                inline-block;
        margin:                                      0 0.1em;
        padding:                           0.3em 0.4em 0.1em;
        font-size:                                     0.7em;
        line-height:                                   1.0em;
        text-shadow:             0 -1px 0 rgba(0, 0, 0, 0.1),
                            0 1px 0 rgba(255, 255, 255, 1.0);
        text-transform:                            uppercase;
        background-color:                            #f7f7f7;
        border:                               1px solid #ccc;
        border-radius:                                   3px;
        box-shadow:               0 1px 0 rgba(0, 0, 0, 0.2),
                    0 0 0 2px rgba(255, 255, 255, 1.0) inset;
    }

    .red::selection    { background-color:    red; }
    .orange::selection { background-color: orange; }
    .yellow::selection { background-color: yellow; }
    .green::selection  { background-color:  green; }
    .blue::selection   { background-color:   blue; }
    .purple::selection { background-color: purple; }
}