{% extends "MesdUserBundle::layout.html.twig" %}

{% trans_default_domain 'MesdUserBundle' %}

{% block mesd_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
