{% if pageTitle is defined %}
    {% set pageTitle = (pageTitle ~ ' | ' ~ mesd_presentation_app_abbreviation )|striptags %}
{% else %}
    {% set pageTitle = mesd_presentation_app_abbreviation|striptags %}
{% endif %}

<title>{{ pageTitle }}</title>