{% extends "MesdUserBundle::layout.html.twig" %}

{% trans_default_domain 'MesdUserBundle' %}

{% block mesd_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock mesd_user_content %}
