{% trans_default_domain "mesd_presentation" %}

<form action="{{ path('mesd_user_group_edit', {'groupName': group_name} ) }}" {{ form_enctype(form) }} method="POST" class="mesd_user_group_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.edit.submit'|trans }}" />
    </div>
</form>
