/* Typography */
p label,
p.list-header {
    text-indent:            0;
}

.todo {
    color: #000000;
}

/* Scaffolding and Layout */
.sidebar-inverse {
    background-color: #454545;
}

.span-fixed-sidebar {
    width:     220px;
    margin-left: 0px;
}

.pagination {
    margin: 6px 0;
}

.no-clear > * {
    display: inline;
    padding-left: 10px;
}

.no-clear > *:first-child {
    padding-left: 0;
}

.primary-key { color: GoldenRod; }
.foreign-key { color: SlateGray; }



/* Sidebar */

/*
.sidebar-inverse ul li a {
    color: #999;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.sidebar-inverse ul li a:hover {
    color: #fff;
    background-color: transparent;
}
*/

.sidebar-dropdown .navbar .nav {
    margin-right: 0;
}

.sidebar-dropdown .navbar .nav > li {
    box-sizing: border-box;
    width: 100%;
    margin-right: none;
}

.sidebar-dropdown .navbar .nav > li a {
    padding: 0;
}

.sidebar-inverse .sidebar-dropdown .navbar .nav > li a {
    color: #999;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/*
.sidebar-inverse .sidebar-dropdown .navbar .nav > li a:hover {
    color: #fff;
    background-color: transparent;
}
*/

/* Forms */

.btn-toolbar form {
    display: inline-block;
}

.btn-group + form {
    margin-left: 5px;
}

.well-label {
  min-height: 20px;
  padding: 12px;
  margin: -20px -20px 19px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-label-large {
  min-height: 20px;
  padding: 16px;
  margin: -25px -25px 24px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-label-small {
  min-height: 20px;
  padding: 6px;
  margin: -10px -10px 9px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well pre {
    padding:         0;
    margin:          0;
    font-size:    12px;
    line-height:  16px;
    background:   none;
    border:       none;
    border-radius:   0;
}

input.display {
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-indent: 0px;
    font-style: italic;
}

label .required {
    color:  #B94A48;
}

input[type="radio"] {
    height: auto;
}

.checkbox,
.radio {
    font-weight: normal;
}

/* Tables */

.table-mini {
    font-size:    10px;
    margin-top:    4px;
    margin-bottom: 8px;
}

.table-mini th, .table-mini td {
    padding:       0px;
    line-height:  12px;
}

.dataTables_filter > label {
    cursor: text;
}

.dataTables_filter > label:after {
    content: '\f0b0'; /* icon-filter */
    font-family: FontAwesome;
    position: absolute;
    top: 7px;
    right: 14px;
    color: #999999;
}

.show-grid > div[class^='col-'],
.show-grid > div[class*="col-"] {
    text-align:                 center;
    background-color: rgba(0,0,0,0.05);
    line-height:                  30px;
    margin-bottom:                10px;
    border:          1px solid #cccccc;
    border-radius:                 4px;
}

.debug-grid > div[class^='col-'],
.debug-grid > div[class*="col-"] {
    text-align:                 center;
    background-color: rgba(255,102,0,0.15);
    border:          1px solid #cc0000;
    border-radius:                 4px;
}


/* Responsive */

@media (max-width: 767px) {
    body {
        padding-left:     0;
        padding-right:    0;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 979px) {
    .section {
        border-radius: 0;
    }

}

@media (min-width: 980px) {
}

@media (min-width: 768px) {
    .login {
        margin-top: 30px;
    }
    .login .row {
        margin-left: 0px;
    }

    .right {
        display: relative;
        float: right;
    }

/* IE 8 ... since we still fucking support it */
.pull-right, span.pull-right {
    float:      none\9;
}

/*
.login-header {
    background: url(../uploads/media/login/reading.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    position:             relative;
    z-index:                     0;
}

.login-header:before {
    content:    '';
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    position: absolute;
    top:             0;
    left:            0;
    bottom:          0;
    right:           0;
    z-index:        -1;
}

.login-header h1 {
    color: #ffffff;
    margin-top: 100px;
}
*/

/* hack to stack lower icons in font-awesome (combined users/new) */

.fa-sub {
    font-size: 0.35em !important;
    position: relative;
    bottom:-0.5em;
    right:0.9em;
    color: inherit;
    background-color: #ffffff;
    border-width: 0.13em;
    border-style: solid;
    border-radius: 3px;
    padding: 1px 1px 1px 1px;
}