{% trans_default_domain "mesd_presentation" %}

<form action="{{ path('mesd_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="mesd_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'register'|trans }}" />
    </div>
</form>
